<%
var photos_url = process.env.PHOTOS_URL || "http://localhost:8000";
%>
<form class="form-horizontal" action="/albums/<%= album.id %>/new" method="post">  
	<label class="upload_field">Upload a new photo:</label>

	<div class="form-group">
		<label class="control-label col-sm-2" for="name">Photo name:</label>
		<div class="col-sm-10">
			<input class="form-control" type="text" name="name"></span><br>
		</div>
	</div>

	<input type="hidden" name="url">
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<input class="file" type="file" name="photo"/>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button class="btn btn-primary">Upload</button>
			<span class="hint upload_field">Supported files: PNG, JPG, JPEG, ...</span>
		</div>
	</div>
</form>

<script type="text/javascript">
$('button').click(function (evt) {

	evt.preventDefault();

	var file = $('input[type=file]')[0].files[0];
	var url = '<%=photos_url%>/photos';
	var data = new FormData();
	data.append('photo', file);

	// Crea la imagen en el servidor de imágenes
	$.ajax({
		url: url,
		type: 'POST',
		processData: false,
		contentType: false,
		dataType : 'json',
		data: data,
		statusCode: {
			200: function (data, status, xhr) {
				// Una vez creada envía al servidor CDPSgram-server la url para crear la entrada en la base de datos
				var url = '<%=photos_url%>' + data.responseText;
				$('input[type=hidden]').val(url);
				$('form').submit();
			}
		}
	});
});
</script>